*{
    margin: 0;
}

.sticky img{
    width: 50px;
    height: 50px;
    float: left;
    margin-left: 15px;
}

.header-text{
    float: left;
    margin: 0 1em;
    text-decoration: none;
}

#site-title a{
    text-decoration: none;
}

nav{
    background-color: rgb(78, 113, 211);
    border-radius: 5px;
    text-align: left;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
}

nav a{
    color: goldenrod;
    font-size: 18px;
    text-decoration: none;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 1%;
}

nav li{
    padding: 5px;
    margin-right: 10px;
}

h1{
    color: goldenrod;
    font-size: 35px;
    font-family:'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#content h1{
    border-radius: 6px;
}

h2{
    color: navy;
    text-align: center;
    font-size: 18px;
    font-family:'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
}

h3{
    color: navy;
    text-align: left;
    font-size: 16px;
    font-family:'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
}

h4{
    color: goldenrod;
}

#main_tal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#amulets{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid{
    background-color: rgb(169, 217, 236);
    margin: 10px;
    border: 1px solid lightskyblue;
    border-radius: 5px;
}

.grid figcaption{
    color: goldenrod;
    text-align: center;
}

.grid img{
    width: 100px;
    height: 100px;
    align-items: flex-start;
    justify-content: flex-start;
}

.list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.list_text{
    margin-left: 5px;
    padding: 5px;
}

#content{
    margin-left: 1%;
    margin-right: 1%;
    border: 1px solid lightskyblue;
    background: rgb(191, 221, 231);
    box-shadow: 6px 4px 8px rgba(13, 102, 143, 0.705);
    border-radius: 6px;
    padding: 10px;
}

#content img{
    width: 120px;
    height: 120px;
    text-align: left;
    
}

#content h2{
    border-radius: 6px;
}

body{
    background: lightblue;
}

footer p{
    text-align: center;
    margin-top: 15px;
}

footer img{
    width: 35px;
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
}

img{
    padding: 5px;
}